<div id="threadPopover" class="menu-card hidden">
  <button data-action="pin" class="menu-item">
    <i data-lucide="pin" class="h-4 w-4"></i>
    <span>Pin to top</span>
  </button>
  <button data-action="rename" class="menu-item">
    <i data-lucide="edit-3" class="h-4 w-4"></i>
    <span>Rename</span>
  </button>
  <button data-action="delete" class="menu-item text-red-600">
    <i data-lucide="trash-2" class="h-4 w-4"></i>
    <span>Delete</span>
  </button>
  <button data-action="count_tokens" class="menu-item">
    <i data-lucide="hash" class="h-4 w-4"></i>
    <span>Count tokens (approx.)</span>
  </button>
</div>

<div id="sunePopover" class="menu-card hidden">
  <button data-action="pin" class="menu-item">
    <i data-lucide="pin" class="h-4 w-4"></i>
    <span>Pin to top</span>
  </button>
  <button data-action="rename" class="menu-item">
    <i data-lucide="edit-3" class="h-4 w-4"></i>
    <span>Rename</span>
  </button>
  <button data-action="pfp" class="menu-item">
    <i data-lucide="image" class="h-4 w-4"></i>
    <span>Change pfp</span>
  </button>
  <button data-action="export" class="menu-item">
    <i data-lucide="download" class="h-4 w-4"></i>
    <span>Export sune (.sune)</span>
  </button>
</div>
